.invoice-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.invoice-invoice1 {
  width: 100%;
  height: 1070px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.invoice-main-bg-color {
  top: 0px;
  left: 0px;
  width: 1441px;
  height: 1070px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-main-bg {
  top: 0px;
  left: 0px;
  width: 1441px;
  height: 1070px;
  position: absolute;
}
 
.invoice-details1 {
  top: 171px;
  left: 115px;
  width: 1296px;
  height: 869px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.invoice-print {
  top: 643px;
  left: 1017px;
  width: 50px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 251, 252, 1);
}
 
.invoice-iclocalprintshop24px {
  top: 19px;
  left: 16px;
  width: 18px;
  height: 16.200000762939453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-shape10 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 16px;
  position: absolute;
}
 
.invoice-send-buuton {
  top: 643px;
  left: 1083px;
  width: 173px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 111, 60, 1);
}
 
.invoice-rectangle1 {
  top: 8px;
  left: 119px;
  width: 46px;
  height: 38px;
  position: absolute;
  border-radius: 8px;
}
 
.invoice-navigation {
  top: 20.000062942504883px;
  left: 135.00027465820312px;
  width: 14.00202465057373px;
  height: 14.00248908996582px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-shape11 {
  top: 0.0003106958174612373px;
  left: -0.00023870632867328823px;
  width: 14px;
  height: 14px;
  position: absolute;
}
 
.invoice-text10 {
  top: 16px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-total {
  top: 530px;
  left: 1025px;
  width: 131px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-text11 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text12 {
  left: 83px;
  color: rgba(32, 34, 36, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-frame4 {
  top: 463px;
  left: 48.2337646484375px;
  width: 1200px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-divider1 {
  top: 43px;
  left: 0px;
  width: 1200px;
  height: 1px;
  opacity: 0.70;
  position: absolute;
}
 
.invoice-text13 {
  left: 848.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text14 {
  left: 1062.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text15 {
  left: 345.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-frame3 {
  top: 395px;
  left: 48.2337646484375px;
  width: 1200px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-divider2 {
  top: 43px;
  left: 0px;
  width: 1200px;
  height: 1px;
  opacity: 0.70;
  position: absolute;
}
 
.invoice-text16 {
  left: 852.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text17 {
  left: 1062.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text18 {
  left: 331.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-frame2 {
  top: 327px;
  left: 48.2337646484375px;
  width: 1200px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-divider3 {
  top: 43px;
  left: 0px;
  width: 1200px;
  height: 1px;
  opacity: 0.70;
  position: absolute;
}
 
.invoice-text19 {
  left: 856.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text20 {
  left: 1062.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text21 {
  left: 351.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-frame1 {
  top: 259px;
  left: 48.2337646484375px;
  width: 1200px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-divider4 {
  top: 43px;
  left: 0px;
  width: 1200px;
  height: 1px;
  opacity: 0.70;
  position: absolute;
}
 
.invoice-text22 {
  left: 856.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text23 {
  left: 1062.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text24 {
  left: 317.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-tab {
  top: 187px;
  left: 48px;
  width: 1200px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(241, 243, 249, 1);
}
 
.invoice-text25 {
  top: 16px;
  left: 1049px;
  color: rgba(32, 34, 36, 1);
  width: 69px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text26 {
  top: 16px;
  left: 651px;
  color: rgba(32, 34, 36, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text27 {
  top: 16px;
  left: 838px;
  color: rgba(32, 34, 36, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text28 {
  top: 16px;
  left: 336px;
  color: rgba(32, 34, 36, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text29 {
  top: 16px;
  left: 82px;
  color: rgba(32, 34, 36, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-details2 {
  top: 40px;
  left: 233px;
  width: 829px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-invoiceto {
  top: 0px;
  left: 324px;
  width: 111px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-text30 {
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text31 {
  top: 34px;
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text32 {
  top: 60px;
  color: rgba(86, 86, 86, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-date {
  top: 12px;
  left: 632px;
  width: 197px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-text33 {
  top: 32px;
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text34 {
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-invoice-from {
  top: 0px;
  left: 0px;
  width: 185px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-text35 {
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text36 {
  top: 34px;
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text37 {
  top: 60px;
  color: rgba(86, 86, 86, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text38 {
  top: 100px;
  left: 115px;
  color: rgba(32, 34, 36, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-navigation-top-bar21 {
  top: 0px;
  left: 84px;
  width: 1356px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-navigation-top-bar22 {
  top: 0px;
  left: 0px;
  width: 1356px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.invoice-profile1 {
  top: 13px;
  left: 1144px;
  width: 169px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-more {
  top: 13px;
  left: 151px;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-border {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
  box-sizing: content-box;
}
 
.invoice-chevrondown {
  top: 7px;
  left: 6px;
  width: 6px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-shape12 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 4px;
  position: absolute;
}
 
.invoice-text39 {
  top: 3px;
  left: 64px;
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-text40 {
  top: 25px;
  left: 64px;
  color: rgba(86, 86, 86, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-man438081960720 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-mask {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
}
 
.invoice-allefvinicius343875unsplash {
  top: -4px;
  left: -2px;
  width: 50px;
  height: 52px;
  position: absolute;
}
 
.invoice-noti {
  top: 18px;
  left: 1078px;
  width: 30px;
  height: 31.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-icon1 {
  top: 6px;
  left: 0px;
  width: 24px;
  height: 25.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-combined-shape {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 18px;
  position: absolute;
}
 
.invoice-rectangle23 {
  top: 19.5px;
  left: 9px;
  width: 6px;
  height: 6px;
  opacity: 0.30;
  position: absolute;
  border-radius: 2.25px;
}
 
.invoice-oval1 {
  top: 0px;
  left: 12px;
  width: 18px;
  height: 18px;
  opacity: 0.17;
  position: absolute;
}
 
.invoice-oval2 {
  top: 1px;
  left: 13px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.invoice-search1 {
  top: 26px;
  left: 47.5494384765625px;
  width: 71.451171875px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-text41 {
  left: 27.4505615234375px;
  color: rgba(32, 34, 36, 1);
  height: auto;
  opacity: 0.50;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice-search2 {
  top: 0.548926591873169px;
  left: 0px;
  width: 15.005176544189453px;
  height: 15.006632804870605px;
  display: flex;
  opacity: 0.50;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-oval3 {
  top: 4.201284408569336px;
  left: 0.000018775463104248047px;
  width: 11px;
  height: 11px;
  position: absolute;
}
 
.invoice-path10 {
  top: 10.840703010559082px;
  left: 10.840784072875977px;
  width: 4px;
  height: 4px;
  position: absolute;
}
 
.invoice-side-bar {
  top: 0px;
  left: -1px;
  width: 86px;
  height: 1070px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-side-nvbg {
  top: 0px;
  left: 1px;
  width: 84px;
  height: 1070px;
  position: absolute;
}
 
.invoice-logout {
  top: 904px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.70;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-power {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-path11 {
  top: 1px;
  left: 11px;
  width: 2px;
  height: 12px;
  position: absolute;
}
 
.invoice-path12 {
  top: 2.9979429244995117px;
  left: 1.9990344047546387px;
  width: 20px;
  height: 19px;
  position: absolute;
}
 
.invoice-ui-elements {
  top: 710px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementicon-u-ielement1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementicon-u-ielement2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-shape13 {
  top: 2px;
  left: 13.670000076293945px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice-path13 {
  top: 1.9945428371429443px;
  left: 2.055803060531616px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.invoice-settings {
  top: 822px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementiconsettings1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementiconsettings2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-rectangle2 {
  top: 24px;
  left: 24px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
 
.invoice-oval4 {
  top: 10.5px;
  left: 10.5px;
  width: 3px;
  height: 3px;
  position: absolute;
}
 
.invoice-shape14 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.invoice-profile2 {
  top: 766px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementiconteam1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementiconteam2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-path14 {
  top: 3px;
  left: 8px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice-path15 {
  top: 13px;
  left: 5px;
  width: 14px;
  height: 8px;
  position: absolute;
}
 
.invoice-invoice2 {
  top: 640px;
  left: 0px;
  width: 55px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-active {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 52px;
  position: absolute;
  border-radius: 1px;
}
 
.invoice-elementiconinvoice1 {
  top: 14px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.invoice-elementiconinvoice2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-shape15 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
 
.invoice-contact {
  top: 598px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.40;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementiconcontact1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementiconcontact2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-path16 {
  top: 3px;
  left: 5px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice-path17 {
  top: 7px;
  left: 14px;
  width: 6px;
  height: 6px;
  position: absolute;
}
 
.invoice-path18 {
  top: 13.009267807006836px;
  left: 2px;
  width: 20px;
  height: 8px;
  position: absolute;
}
 
.invoice-to-do {
  top: 542px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.40;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementicontodo1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementicontodo2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-path19 {
  top: 4px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
 
.invoice-rectangle3 {
  top: 2px;
  left: 7px;
  width: 10px;
  height: 6px;
  position: absolute;
  border-radius: 1px;
}
 
.invoice-calender {
  top: 486px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.40;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementiconcalendar1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementiconcalendar2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-shape16 {
  top: 2px;
  left: 3px;
  width: 18px;
  height: 20px;
  position: absolute;
}
 
.invoice-file-manager {
  top: 430px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.40;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementiconpricing1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementiconpricing2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-shape17 {
  top: 1.9998197555541992px;
  left: 4px;
  width: 16px;
  height: 20px;
  position: absolute;
}
 
.invoice-product-stock {
  top: 374px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.40;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementiconstock1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementiconstock2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-path20 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 5px;
  position: absolute;
}
 
.invoice-path21 {
  top: 10px;
  left: 3px;
  width: 8px;
  height: 11px;
  position: absolute;
}
 
.invoice-path22 {
  top: 10px;
  left: 13px;
  width: 8px;
  height: 11px;
  position: absolute;
}
 
.invoice-order-lists {
  top: 318px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.40;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementiconorderlist1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementiconorderlist2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-rectangle4 {
  top: 24px;
  left: 24px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
 
.invoice-path23 {
  top: 2.9624931812286377px;
  left: 2.994819402694702px;
  width: 18px;
  height: 9px;
  position: absolute;
}
 
.invoice-path24 {
  top: 9.880000114440918px;
  left: 3.0331032276153564px;
  width: 18px;
  height: 7px;
  position: absolute;
}
 
.invoice-path25 {
  top: 14.420000076293945px;
  left: 3.025554895401001px;
  width: 18px;
  height: 7px;
  position: absolute;
}
 
.invoice-inbox {
  top: 262px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementiconchat1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementiconchat2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-shape18 {
  top: 1.9778519868850708px;
  left: 1.974938988685608px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.invoice-favorites {
  top: 206px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementicon-favourites1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementicon-favourites2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-path26 {
  top: 4.000471591949463px;
  left: 1.9986628293991089px;
  width: 20px;
  height: 17px;
  position: absolute;
}
 
.invoice-products {
  top: 150px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementiconproduct1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementiconproduct2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-path27 {
  top: 8.359999656677246px;
  left: 3px;
  width: 8px;
  height: 13px;
  position: absolute;
}
 
.invoice-path28 {
  top: 3.000236749649048px;
  left: 3.490000009536743px;
  width: 17px;
  height: 7px;
  position: absolute;
}
 
.invoice-path29 {
  top: 8.359999656677246px;
  left: 12.75px;
  width: 8px;
  height: 13px;
  position: absolute;
}
 
.invoice-dashboard {
  top: 94px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-elementicondashboard1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice-elementicondashboard2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice-path30 {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice-path31 {
  top: 3px;
  left: 13px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice-path32 {
  top: 13px;
  left: 3px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice-path33 {
  top: 13px;
  left: 13px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice-menu {
  top: 23px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice-shape19 {
  top: 6px;
  left: 4px;
  width: 16px;
  height: 12px;
  position: absolute;
}
 
.invoice-separator {
  top: 0px;
  left: 85px;
  width: 1px;
  height: 1070px;
  position: absolute;
}
 
.invoice-link {
  display: contents;
}
 
.invoice-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.invoice-icon2 {
  width: 24px;
  margin-right: 4px;
}
 
.invoice-text42 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
