.invoice1-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.invoice1-invoice1 {
  width: 100%;
  height: 1070px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.invoice1-main-bg-color {
  top: 0px;
  left: 0px;
  width: 1441px;
  height: 1070px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-main-bg {
  top: 0px;
  left: 0px;
  width: 1441px;
  height: 1070px;
  position: absolute;
}
 
.invoice1-details1 {
  top: 171px;
  left: 115px;
  width: 1296px;
  height: 869px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.invoice1-print {
  top: 643px;
  left: 1017px;
  width: 50px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 251, 252, 1);
}
 
.invoice1-iclocalprintshop24px {
  top: 19px;
  left: 16px;
  width: 18px;
  height: 16.200000762939453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-shape1 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 16px;
  position: absolute;
}
 
.invoice1-send-buuton {
  top: 643px;
  left: 1083px;
  width: 173px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 111, 60, 1);
}
 
.invoice1-rectangle1 {
  top: 8px;
  left: 119px;
  width: 46px;
  height: 38px;
  position: absolute;
  border-radius: 8px;
}
 
.invoice1-navigation {
  top: 19.999832153320312px;
  left: 134.99996948242188px;
  width: 14.002429962158203px;
  height: 14.002591133117676px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-shape2 {
  top: 0.0002310146956006065px;
  left: 0.0003027949423994869px;
  width: 14px;
  height: 14px;
  position: absolute;
}
 
.invoice1-text10 {
  top: 16px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-total {
  top: 530px;
  left: 1025px;
  width: 131px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-text11 {
  color: rgba(32, 34, 36, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text12 {
  left: 83px;
  color: rgba(32, 34, 36, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-frame4 {
  top: 463px;
  left: 48.2337646484375px;
  width: 1200px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-divider1 {
  top: 43px;
  left: 0px;
  width: 1200px;
  height: 1px;
  opacity: 0.70;
  position: absolute;
}
 
.invoice1-text13 {
  left: 848.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text14 {
  left: 1062.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text15 {
  left: 345.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-frame3 {
  top: 395px;
  left: 48.2337646484375px;
  width: 1200px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-divider2 {
  top: 43px;
  left: 0px;
  width: 1200px;
  height: 1px;
  opacity: 0.70;
  position: absolute;
}
 
.invoice1-text16 {
  left: 852.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text17 {
  left: 1062.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text18 {
  left: 331.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-frame2 {
  top: 327px;
  left: 48.2337646484375px;
  width: 1200px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-divider3 {
  top: 43px;
  left: 0px;
  width: 1200px;
  height: 1px;
  opacity: 0.70;
  position: absolute;
}
 
.invoice1-text19 {
  left: 856.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text20 {
  left: 1062.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text21 {
  left: 351.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-frame1 {
  top: 259px;
  left: 48.2337646484375px;
  width: 1200px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-divider4 {
  top: 43px;
  left: 0px;
  width: 1200px;
  height: 1px;
  opacity: 0.70;
  position: absolute;
}
 
.invoice1-text22 {
  left: 856.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text23 {
  left: 1062.7662353515625px;
  color: rgba(40, 40, 40, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text24 {
  left: 317.7662353515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-tab {
  top: 187px;
  left: 48px;
  width: 1200px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(241, 243, 249, 1);
}
 
.invoice1-text25 {
  top: 16px;
  left: 1049px;
  color: rgba(32, 34, 36, 1);
  width: 69px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text26 {
  top: 16px;
  left: 651px;
  color: rgba(32, 34, 36, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text27 {
  top: 16px;
  left: 838px;
  color: rgba(32, 34, 36, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text28 {
  top: 16px;
  left: 336px;
  color: rgba(32, 34, 36, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text29 {
  top: 16px;
  left: 82px;
  color: rgba(32, 34, 36, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-details2 {
  top: 40px;
  left: 233px;
  width: 829px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-invoiceto {
  top: 0px;
  left: 324px;
  width: 111px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-text30 {
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text31 {
  top: 34px;
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text32 {
  top: 60px;
  color: rgba(86, 86, 86, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-date {
  top: 12px;
  left: 632px;
  width: 197px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-text33 {
  top: 32px;
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text34 {
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-invoice-from {
  top: 0px;
  left: 0px;
  width: 185px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-text35 {
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text36 {
  top: 34px;
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text37 {
  top: 60px;
  color: rgba(86, 86, 86, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text38 {
  top: 100px;
  left: 115px;
  color: rgba(32, 34, 36, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-navigation-top-bar21 {
  top: 0px;
  left: 84px;
  width: 1356px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-navigation-top-bar22 {
  top: 0px;
  left: 0px;
  width: 1356px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.invoice1-profile {
  top: 13px;
  left: 1144px;
  width: 169px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-more {
  top: 13px;
  left: 151px;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-border {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
  box-sizing: content-box;
}
 
.invoice1-chevrondown {
  top: 7px;
  left: 6px;
  width: 6px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-shape3 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 4px;
  position: absolute;
}
 
.invoice1-text39 {
  top: 3px;
  left: 64px;
  color: rgba(64, 64, 64, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-text40 {
  top: 25px;
  left: 64px;
  color: rgba(86, 86, 86, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-man438081960720 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-mask {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
}
 
.invoice1-allefvinicius343875unsplash {
  top: -4px;
  left: -2px;
  width: 50px;
  height: 52px;
  position: absolute;
}
 
.invoice1-noti {
  top: 18px;
  left: 1078px;
  width: 30px;
  height: 31.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-icon1 {
  top: 6px;
  left: 0px;
  width: 24px;
  height: 25.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-combined-shape {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 18px;
  position: absolute;
}
 
.invoice1-rectangle23 {
  top: 19.5px;
  left: 9px;
  width: 6px;
  height: 6px;
  opacity: 0.30;
  position: absolute;
  border-radius: 2.25px;
}
 
.invoice1-oval1 {
  top: 0px;
  left: 12px;
  width: 18px;
  height: 18px;
  opacity: 0.17;
  position: absolute;
}
 
.invoice1-oval2 {
  top: 1px;
  left: 13px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.invoice1-search1 {
  top: 26px;
  left: 47.5494384765625px;
  width: 71.451171875px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-text41 {
  left: 27.4505615234375px;
  color: rgba(32, 34, 36, 1);
  height: auto;
  opacity: 0.50;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.invoice1-search2 {
  top: 0.548926591873169px;
  left: 0px;
  width: 15.005176544189453px;
  height: 15.006632804870605px;
  display: flex;
  opacity: 0.50;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-oval3 {
  top: 4.201284408569336px;
  left: 0.000018775463104248047px;
  width: 11px;
  height: 11px;
  position: absolute;
}
 
.invoice1-path10 {
  top: 10.840703010559082px;
  left: 10.840784072875977px;
  width: 4px;
  height: 4px;
  position: absolute;
}
 
.invoice1-side-bar {
  top: 0px;
  left: 0px;
  width: 85px;
  height: 1070px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-side-nvbg {
  top: 0px;
  left: 0px;
  width: 84px;
  height: 1070px;
  position: absolute;
}
 
.invoice1-logout {
  top: 763px;
  left: 32px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.70;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-power {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice1-path11 {
  top: 1px;
  left: 11px;
  width: 2px;
  height: 12px;
  position: absolute;
}
 
.invoice1-path12 {
  top: 2.9979429244995117px;
  left: 1.9990344047546387px;
  width: 20px;
  height: 19px;
  position: absolute;
}
 
.invoice1ui-elements {
  top: 569px;
  left: 32px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementicon-u-ielement1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-elementicon-u-ielement2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice1-shape4 {
  top: 2px;
  left: 13.670000076293945px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice1-path13 {
  top: 1.9945428371429443px;
  left: 2.055803060531616px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.invoice1-settings {
  top: 681px;
  left: 32px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementiconsettings1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-elementiconsettings2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-rectangle2 {
  top: 24px;
  left: 24px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
 
.invoice1-oval4 {
  top: 10.5px;
  left: 10.5px;
  width: 3px;
  height: 3px;
  position: absolute;
}
 
.invoice1-shape5 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.invoice1-invoice2 {
  top: 513px;
  left: 32px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementiconinvoice1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-elementiconinvoice2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice1-shape6 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
 
.invoice1-contact {
  top: 457px;
  left: 32px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementiconcontact1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-elementiconcontact2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice1-path14 {
  top: 3px;
  left: 5px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice1-path15 {
  top: 7px;
  left: 14px;
  width: 6px;
  height: 6px;
  position: absolute;
}
 
.invoice1-path16 {
  top: 13.009267807006836px;
  left: 2px;
  width: 20px;
  height: 8px;
  position: absolute;
}
 
.invoice1to-do {
  top: 625px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementicontodo {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-order-lists {
  top: 401px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementiconorderlist1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-elementiconorderlist2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-rectangle3 {
  top: 24px;
  left: 24px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
 
.invoice1-path17 {
  top: 2.9624931812286377px;
  left: 2.994819402694702px;
  width: 18px;
  height: 9px;
  position: absolute;
}
 
.invoice1-path18 {
  top: 9.880000114440918px;
  left: 3.0331032276153564px;
  width: 18px;
  height: 7px;
  position: absolute;
}
 
.invoice1-path19 {
  top: 14.420000076293945px;
  left: 3.025554895401001px;
  width: 18px;
  height: 7px;
  position: absolute;
}
 
.invoice1-inbox {
  top: 345px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementiconchat1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-elementiconchat2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice1-shape7 {
  top: 1.9778519868850708px;
  left: 1.974938988685608px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.invoice1-favorites {
  top: 289px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementicon-favourites1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-elementicon-favourites2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice1-path20 {
  top: 4.000471591949463px;
  left: 1.9986628293991089px;
  width: 20px;
  height: 17px;
  position: absolute;
}
 
.invoice1-products {
  top: 233px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0.30;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementiconproduct1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-elementiconproduct2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice1-path21 {
  top: 8.359999656677246px;
  left: 3px;
  width: 8px;
  height: 13px;
  position: absolute;
}
 
.invoice1-path22 {
  top: 3.000236749649048px;
  left: 3.490000009536743px;
  width: 17px;
  height: 7px;
  position: absolute;
}
 
.invoice1-path23 {
  top: 8.359999656677246px;
  left: 12.75px;
  width: 8px;
  height: 13px;
  position: absolute;
}
 
.invoice1-dashboard {
  top: 163px;
  left: 0px;
  width: 55px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-elementicondashboard1 {
  top: 14px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.invoice1-elementicondashboard2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
 
.invoice1-path24 {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice1-path25 {
  top: 3px;
  left: 13px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice1-path26 {
  top: 13px;
  left: 3px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice1-path27 {
  top: 13px;
  left: 13px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.invoice1-active {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 52px;
  position: absolute;
  border-radius: 1px;
}
 
.invoice1-menu {
  top: 23px;
  left: 30px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.invoice1-shape8 {
  top: 6px;
  left: 4px;
  width: 16px;
  height: 12px;
  position: absolute;
}
 
.invoice1-separator {
  top: 0px;
  left: 84px;
  width: 1px;
  height: 1070px;
  position: absolute;
}
 
.invoice1-link {
  display: contents;
}
 
.invoice1-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.invoice1-icon2 {
  width: 24px;
  margin-right: 4px;
}
 
.invoice1-text42 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
